## Ranked filter list
ranked.list: /Users/skillcoyne/Data/cogie-tmp/Ranked_Candidate_Genes.txt

## Gene locations
# Expected columns: GeneID  GeneStart  GeneEnd  Chromosome
gene.loc: /Users/skillcoyne/Data/cogie-tmp/ensembl_gene_loc_GRCh37.txt

# Control
control.var.loc: /Users/skillcoyne/Data/cogie-tmp/controls

# Patients
patient.var.loc: /Users/skillcoyne/Data/cogie-tmp/patients

# File output directory
output.dir: /Users/skillcoyne/Data/cogie-tmp/temp


# MDR
mdr.K: 2
mdr.max: 50
mdr.analysis.dir: /<ouptut path>/

# OAR Cluster
oar.core: 1
oar.walltime: 1



