## Ranked filter list
ranked.list: <path>Data/COGIE/genelists/ens/CNTN2-ens.txt

## Gene locations
# Expected columns: GeneID  GeneStart  GeneEnd  Chromosome
gene.loc: <path>cogie-tmp/ensembl_gene_loc_GRCh37.txt

## VCF Data
# Controls
control.var.loc: <path>Data/1000Genomes/VCF

# Patient vcf
patient.vcf: <path>Data/COGIE/patients/ige1member-rare.1-2.vcf

qual.range: 72-220

## Output
# File output dir
output.dir: <path>cogie-tmp/temp/IGE

# MDR
mdr.jar: MDR.jar
mdr.K: 2
mdr.max: 2000
mdr.analysis.dir: <path>temp/analysis
mdr.models: 30


# OAR Cluster
oar.core: 6
oar.walltime: 4

