## -- DO NOT DELETE THIS FILE --##
## The example file is used by the scripts to ensure that all
## configuration is correctly done.  Copy this to another file
## then alter it for your own configuration


## Ranked filter list
ranked.list: /<path to ranked list file>

## Gene locations
# Expected columns: GeneID  GeneStart  GeneEnd  Chromosome
gene.loc: /<path to gene location file

# Control
control.var.loc: /<path to control variation file dir>

# Patients
patient.var.loc: /<path to patient variation file dir>

# File output directory
output.dir: /< for various temp files>

# MDR
mdr.K: 2
mdr.max: 50
mdr.analysis.dir: /<ouptut path>/

# Tool paths - These are optional. If the tool is pathed on the system these should be
# removed from the configuration file.
mdr.jar: /<name of MDR.jar file
tabix.path: /path to tabix script

# OAR Cluster
oar.core: 5
oar.walltime: 168



