# GWA Data
gwa.control: /<path to>/control.dat
gwa.seed: 321245312
chr.output: /<path to chr files>/

# MDR
mdr.type: R
mdr.K: 2
mdr.max: 50
mdr.analysis.dir: /<ouptut path for R files>/

# OAR Cluster
oar.dir: /<output directory for oar.sh files>/
oar.core: 1
oar.walltime: 1
oar.notify: mail:skillcoyne\@gmail.com
